certifi==2025.7.14 ; python_version >= "3.12"
charset-normalizer==3.4.2 ; python_version >= "3.12"
greenlet==3.2.3 ; python_version < "3.14" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.12"
idna==3.10 ; python_version >= "3.12"
numpy==2.3.2 ; python_version >= "3.12"
pandas==2.3.1 ; python_version >= "3.12"
pyarrow==21.0.0 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
pytz==2025.2 ; python_version >= "3.12"
requests==2.32.4 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
sqlalchemy==2.0.42 ; python_version >= "3.12"
typing-extensions==4.14.1 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12"
urllib3==2.5.0 ; python_version >= "3.12"
